* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Makes 1rem = 10px, if default font-size was 16px. */
    scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
    margin: 0;
    font-size: 1.6rem;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}