/*
* Colors
*/
:root {
	--main-accent-color: #008dff;
	--main-accent-color-light: #7fc4fd;
	--main-accent-color-footer: #2699fb;
	--black: #121212;
	--text: #040c36;
	--white: #ffffff;
	--light-grey: #f0f2f7;
	--grey: #b9bed1;
	--dark-grey: #707070;
}
