/*
* Colors
*/
:root {
    --main-accent-color: #008DFF;
    --main-accent-color-light: #7FC4FD;
    --main-accent-color-footer: #2699FB;
    --black: #121212;
    --text: #040C36;
    --white: #ffffff;
    --light-grey: #F0F2F7;
    --grey: #B9BED1;
    --dark-grey: #707070;
}