footer {
    background: var(--black);
    color: var(--white);
}

#footer-wrapper {
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px 96px;
    flex-wrap: wrap;
    font-family: arial;

    ul {
        flex: 1;
        margin: 0;

        li {
            font-size: 1.4rem;
            line-height: 2.4rem;

            &:first-of-type {
                margin-bottom: 24px;
                font-size: 1rem;
                line-height: 1.2rem;
                font-weight: bold;
                text-transform: uppercase;
                font-family: "Montserrat", sans-serif;
            }
        }
    }

    li.hightlight {
        color: var(--main-accent-color-light);
    }

    .subscription-cta {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        ul {
            max-width: 260px;
            margin-bottom: 20px;

            li:first-of-type {
                font-size: 1.4rem;
                font-size: 1.6rem;
                text-transform: none;
                font-weight: bold;
                font-family: arial;
            }
        }

        .subscribe {
            display: flex;

            input {
                padding: 12px 20px;
                margin-right: 20px;
                background: var(--black);
                color: white;
                border: 1px solid var(--main-accent-color-light);
                border-radius: 4px;

                &::placeholder {
                    color: white;
                }
            }

            button {
                font-size: 1rem;
                line-height: 1.2rem;
                border-radius: 4px;
                border: none;
                padding: 13px 30px;
                color: var(--main-accent-color-footer);
                font-weight: bold;
                font-family: "Montserrat", sans-serif;
                transition: 0.2s;

                &:hover {
                    color: var(--white);
                    background: var(--main-accent-color-footer);
                    cursor: pointer;
                }
            }
        }
    }
}