:root {
  --main-accent-color: #008DFF;
  --main-accent-color-light: #7FC4FD;
  --main-accent-color-footer: #2699FB;
  --black: #121212;
  --text: #040C36;
  --white: #ffffff;
  --light-grey: #F0F2F7;
  --grey: #B9BED1;
  --dark-grey: #707070;
}

#range-calculator {
  /* CAR IMAGE */
  /* RANGES */
  /* CONTROLS */
}
#range-calculator h2 {
  margin-top: 0;
  text-align: center;
  font-size: 3.8rem;
  line-height: 4.7rem;
  font-weight: normal;
}
#range-calculator .tesla-s-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
#range-calculator .tesla-s-wrapper .base {
  width: 100%;
}
#range-calculator .tesla-s-wrapper .wheel {
  position: absolute;
  width: 9.5%;
  top: 51%;
  animation: rotateWheels 400ms steps(6) infinite;
}
#range-calculator .tesla-s-wrapper .wheel.left {
  left: 24.8%;
}
#range-calculator .tesla-s-wrapper .wheel.right {
  right: 26.5%;
}
@keyframes rotateWheels {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#range-calculator #ranges {
  display: flex;
  justify-content: space-evenly;
  max-width: 660px;
  margin: 0 auto 64px;
}
#range-calculator .range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#range-calculator .range-wrapper img {
  margin-bottom: 20px;
  max-height: 24px;
}
#range-calculator .range-wrapper .range {
  display: flex;
  color: var(--main-accent-color, #008DFF);
}
#range-calculator .range-wrapper .range .value {
  font-size: 4.6rem;
  line-height: 1;
  margin-right: 4px;
}
#range-calculator .range-wrapper .range .unit {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 300;
  text-transform: uppercase;
}
#range-calculator .controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 66px;
}
#range-calculator .controls .control-wrapper {
  display: flex;
  flex-direction: column;
}
#range-calculator .controls .control-wrapper.border-right {
  border-right: 1px solid var(--grey);
  padding-right: 42px;
}
#range-calculator .controls .control-wrapper .control-label {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 2px;
  color: var(--dark-grey);
}
#range-calculator .controls .control-wrapper .temperature-wrapper {
  display: flex;
}
#range-calculator .controls .box {
  height: 80px;
  width: 233px;
  background: var(--light-grey);
  border: 1px solid var(--grey);
}
#range-calculator .controls .control {
  display: flex;
}
#range-calculator .controls .control.number {
  padding: 18px 12px 18px 22px;
}
#range-calculator .controls .control.number .value {
  flex: 1;
  display: flex;
  align-items: baseline;
}
#range-calculator .controls .control.number .value input {
  width: 72px;
  padding: 0;
  margin-right: 4px;
  font-size: 3.4rem;
  line-height: 4.2rem;
  text-align: right;
  color: var(--text);
}
#range-calculator .controls .control.number .value .unit {
  margin-right: 12px;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#range-calculator .controls .control.number .value .unit.no-space {
  font-size: 3.6rem;
  margin-left: -18px;
}
#range-calculator .controls .control.number .up-down {
  flex: 0 0 40px;
}
#range-calculator .controls .control.number .up-down button {
  padding: 6px;
  background: none;
  border: none;
  cursor: pointer;
}
#range-calculator .controls .control.number .up-down button:nth-of-type(2) img {
  transform: rotate(180deg);
}
#range-calculator .controls .control.number .up-down button img {
  width: 25px;
}
#range-calculator .controls .control.number .up-down hr {
  height: 1px;
  width: 100%;
  margin: 8px 0;
  border: 1px solid var(--grey);
}
#range-calculator .controls .control input {
  background: none;
  border: none;
}
#range-calculator .controls .control .up-down {
  display: flex;
  flex-direction: column;
  margin-top: -9px;
}
#range-calculator .controls .control#wheelsize .custom-radio-button-label {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 20px;
  cursor: pointer;
}
#range-calculator .controls .control#wheelsize .custom-radio-button-label:hover {
  border-color: var(--main-accent-color, #008DFF);
}
#range-calculator .controls .control#wheelsize .custom-radio-button-label.nineteen {
  margin-right: 48px;
}
#range-calculator .controls .control#wheelsize .custom-radio-button-label.nineteen img {
  width: 54px;
}
#range-calculator .controls .control#wheelsize .custom-radio-button-label.twentyone img {
  width: 67;
}
#range-calculator .controls .control#wheelsize .custom-radio-button-label span {
  font-size: 2rem;
  line-height: 24px;
  letter-spacing: 2px;
}
#range-calculator .controls .control#wheelsize .custom-radio-button-input:checked + .custom-radio-button-label {
  border-color: var(--main-accent-color, #008DFF);
}
#range-calculator #temperature-control {
  margin-right: 40px;
}
#range-calculator #ac-control {
  margin-top: -12px;
}
#range-calculator #ac-control #ac + .ac .ac-on {
  display: none;
}
#range-calculator #ac-control #ac + .ac .ac-off {
  display: block;
}
#range-calculator #ac-control #ac:checked + .ac {
  background: var(--main-accent-color, #008DFF);
}
#range-calculator #ac-control #ac:checked + .ac .ac-on {
  display: block;
}
#range-calculator #ac-control #ac:checked + .ac .ac-off {
  display: none;
}
#range-calculator #ac-control .ac {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 8px solid var(--light-grey);
  border-radius: 50%;
  box-shadow: 0px 1px 3px var(--grey);
  cursor: pointer;
}
#range-calculator .footnote {
  margin-bottom: 72px;
  max-width: 100%;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 1.5px;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Makes 1rem = 10px, if default font-size was 16px. */
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-size: 1.6rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text);
}

input {
  font-family: "Montserrat", sans-serif;
}

h1 {
  max-width: 810px;
  margin: 0 0 40px;
  font-size: 6.4rem;
  line-height: 6.4rem;
  font-weight: 300;
}

p {
  max-width: 548px;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

footer {
  background: var(--black);
  color: var(--white);
}

#footer-wrapper {
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px 96px;
  flex-wrap: wrap;
  font-family: arial;
}
#footer-wrapper ul {
  flex: 1;
  margin: 0;
}
#footer-wrapper ul li {
  font-size: 1.4rem;
  line-height: 2.4rem;
}
#footer-wrapper ul li:first-of-type {
  margin-bottom: 24px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
#footer-wrapper li.hightlight {
  color: var(--main-accent-color-light);
}
#footer-wrapper .subscription-cta {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#footer-wrapper .subscription-cta ul {
  max-width: 260px;
  margin-bottom: 20px;
}
#footer-wrapper .subscription-cta ul li:first-of-type {
  font-size: 1.4rem;
  font-size: 1.6rem;
  text-transform: none;
  font-weight: bold;
  font-family: arial;
}
#footer-wrapper .subscription-cta .subscribe {
  display: flex;
}
#footer-wrapper .subscription-cta .subscribe input {
  padding: 12px 20px;
  margin-right: 20px;
  background: var(--black);
  color: white;
  border: 1px solid var(--main-accent-color-light);
  border-radius: 4px;
}
#footer-wrapper .subscription-cta .subscribe input::placeholder {
  color: white;
}
#footer-wrapper .subscription-cta .subscribe button {
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 4px;
  border: none;
  padding: 13px 30px;
  color: var(--main-accent-color-footer);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s;
}
#footer-wrapper .subscription-cta .subscribe button:hover {
  color: var(--white);
  background: var(--main-accent-color-footer);
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section, header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

#hero {
  height: 800px;
  position: relative;
  background-image: url("./../img//hero-full-width.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .logo-wrapper {
  background-color: var(--black);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero .main-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 80px;
  width: 100%;
  margin: 20px 0 0;
}
#hero .main-menu li a {
  display: block;
  padding: 12px 0;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.8rem;
  letter-spacing: 1.4px;
}
#hero .main-menu li a:hover, #hero .main-menu li a.active {
  border-bottom: 1px solid var(--white);
}
#hero .main-menu li a:hover {
  color: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

#introduction {
  margin-bottom: 60px;
  padding-top: 95px;
}
#introduction p {
  margin: 0 0 40px;
}
#introduction a {
  display: flex;
  width: 74px;
  height: 74px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text);
  border-radius: 50%;
  transition: 0.2s;
}
#introduction a:hover {
  transform: scale(1.1);
  background: var(--main-accent-color);
  border-color: var(--main-accent-color);
}
#introduction a:hover svg {
  fill: white;
}

/*# sourceMappingURL=main.css.map */
